body{
    background-color: rgba(122, 102, 20, 0.825);
}

.seccion{
    background-color: rgba(208, 184, 88, 0.825);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

.alinear{
    display: flex;
    justify-content: center;
}